
/* h1.mb-1{
  color: whitesmoke !important;
  text-shadow: 2px 2px #f1e5af;
} */

h3.mb-5 {
    color: whitesmoke !important;
}

h5.mb-5 {
    color: whitesmoke !important;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}


/* img {
    height: 80%
} */

.btn-primary {
    margin-top: 450px;
    background-color: #1d809f!important;
    border-color: #f1e5af!important;
    color: whitesmoke !important;
}

.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.1) 10%), url("../img/bg-masthead.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #contact {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 50%), url("../img/iphone.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #about h2, #about p {
      color:  #e9ce55 !important;
  }

  #about .btn {
    background-color: #1d809f!important;
    border-color: #f1e5af!important;
    color: #fff!important;
  }

  .serv-btn {
      margin-top: 20px;
  }

  *:focus {
      border: 4px solid black;
  }

  .caption-content {
      color:  #e9ce55!important;
      font-weight: 600;
  }

  .content-section-heading h2 {
    font-size: 1rem;
    text-transform: uppercase;
}

.content-section-heading h3 {
    font-size: 3rem;
    text-transform: uppercase;
}

#portfolio h3, #contact h3, #about h3 {
    color: #191313 !important;
}

section#contact {
    padding-top: 2rem;
}

@media (min-width: 992px){
  .portfolio-item .caption .caption-content {
    /* transition: opacity .25s;
    margin-left: 5rem;
    margin-right: 5rem; */
    margin-bottom: 2.5rem;
  }
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}